<html> 
<body>
<h3 id="info">Es el turno de X</h3>
<table align="center">
  <tr>
    <td id="00"></th>
    <th id="01"></th>
    <th id="02"></th>
  </tr>
  <tr>
    <td id="10"></td>
    <td id="11"></td>
    <td id="12"></td>
  </tr>
  <tr>
    <td id="20"></td>
    <td id="21"></td>
    <td id="22"></td>
  </tr>
</table>

<script>
var tablero = new Object();
tablero["00"] = "";
tablero["01"] = "";
tablero["02"] = "";
tablero["10"] = "";
tablero["11"] = "";
tablero["12"] = "";
tablero["20"] = "";
tablero["21"] = "";
tablero["22"] = "";
var turn = 0;

document.getElementById("00").onclick = function() {
    if (turn == 0){
      changeX("00");
    }else{
      changeO("00");
    }
  };
document.getElementById("01").onclick = function() {
    if (turn == 0){
      changeX("01");
    }else{
      changeO("01");
    }
  };
document.getElementById("02").onclick = function() {
    if (turn == 0){
      changeX("02");
    }else{
      changeO("02");
    }
  };
document.getElementById("10").onclick = function() {
    if (turn == 0){
      changeX("10");
    }else{
      changeO("10");
    }
  };
document.getElementById("11").onclick = function() {
    if (turn == 0){
      changeX("11");
    }else{
      changeO("11");
    }
  };
document.getElementById("12").onclick = function() {
    if (turn == 0){
      changeX("12");
    }else{
      changeO("12");
    }
  };
document.getElementById("20").onclick = function() {
    if (turn == 0){
      changeX("20");
    }else{
      changeO("20");
    }
  };
document.getElementById("21").onclick = function() {
    if (turn == 0){
      changeX("21");
    }else{
      changeO("21");
    }
  };
document.getElementById("22").onclick = function() {
    if (turn == 0){
      changeX("22");
    }else{
      changeO("22");
    }
  };
/*document.getElementById("01").onclick = function() {changeX("01")};
document.getElementById("02").onclick = function() {changeX("02")};
document.getElementById("10").onclick = function() {changeX("10")};
document.getElementById("11").onclick = function() {changeX("11")};
document.getElementById("12").onclick = function() {changeX("12")};
document.getElementById("20").onclick = function() {changeX("20")};
document.getElementById("21").onclick = function() {changeX("21")};
document.getElementById("22").onclick = function() {changeX("22")};

document.getElementById("00").onclick = function() {changeO("00")};
document.getElementById("01").onclick = function() {changeO("01")};
document.getElementById("02").onclick = function() {changeO("02")};
document.getElementById("10").onclick = function() {changeO("10")};
document.getElementById("11").onclick = function() {changeO("11")};
document.getElementById("12").onclick = function() {changeO("12")};
document.getElementById("20").onclick = function() {changeO("20")};
document.getElementById("21").onclick = function() {changeO("21")};
document.getElementById("22").onclick = function() {changeO("22")};*/


function changeX(id) {
    document.getElementById(id).style.backgroundImage = "url('/assets/x.png')";
    turn = turn +1;
    tablero[id] = "X";
    document.getElementById("info").innerHTML = "Es el turno de O";
    check();
}

function changeO(id) {
    document.getElementById(id).style.backgroundImage = "url('/assets/o.png')";
    turn = turn -1;
    tablero[id] = "O";
    document.getElementById("info").innerHTML = "Es el turno de X";
    check();
}

function check(){
  if (tablero["00"] != "" && tablero["00"] == tablero["01"] && tablero["01"]==tablero["02"]){
    window.alert(tablero["00"] + " gana!!!");
    erase();
    console.log(1);
  }
  if (tablero["10"] != "" && tablero["10"] == tablero["11"] && tablero["11"]==tablero["12"]){
    window.alert(tablero["10"] + " gana!!!");
    erase();
    console.log(2);
  }
  if (tablero["20"] != "" && tablero["20"] == tablero["21"] && tablero["21"]==tablero["22"]){
    window.alert(tablero["20"] + " gana!!!");
    erase();
    console.log(3);
  }
  if (tablero["00"] != "" && tablero["00"] == tablero["10"] && tablero["10"]==tablero["20"]){
    window.alert(tablero["00"] + " gana!!!");
    erase();
    console.log(4);
  }
  if (tablero["01"] != "" && tablero["01"] == tablero["11"] && tablero["11"]==tablero["21"]){
    window.alert(tablero["01"] + " gana!!!");
    erase();
    console.log(5);
  }
  if (tablero["02"] != "" && tablero["02"] == tablero["12"] && tablero["12"]==tablero["22"]){
    window.alert(tablero["02"] + " gana!!!");
    erase();
    console.log(6);
  }
  if (tablero["00"] != "" && tablero["00"] == tablero["11"] && tablero["11"]==tablero["22"]){
    window.alert(tablero["00"] + " gana!!!");
    erase();
    console.log(7);
  }
  if (tablero["02"] != "" && tablero["02"] == tablero["11"] && tablero["11"]==tablero["20"]){
    window.alert(tablero["02"] + " gana!!!");
    erase();
    console.log(8);
  }
}

function erase(){
  for (var c in tablero) {
    if (tablero.hasOwnProperty(c)) {
        tablero[c] = "";
        document.getElementById(c).style.backgroundImage = "none";
	turno = 0;
    }
  }
}
</script>

</body> 
</html>
