// Place all the styles related to the canvas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    background-color: #f2f2f2;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    border-collapse: collapse;
}

th {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-collapse: collapse;
}

td {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-collapse: collapse;
}
